In [1]:
import pandas as pd
import numpy as np
import statistics as st

In [7]:
df = pd.read_csv('Downloads/dataset_.csv')

In [9]:
df.head()

   age     sex     bmi  children smoker     region  medical charges
0   19  female  27.900         0    yes  southwest      16884.92400
1   18    male  33.770         1     no  southeast       1725.55230
2   28    male  33.000         3     no  southeast       4449.46200
3   33    male  22.705         0     no  northwest      21984.47061
4   32    male  28.880         0     no  northwest       3866.85520

In [17]:
bmi_mean = df['bmi'].mean()
bmi_mean

30.66339686098655

In [19]:
df_100 = df.head(100)

In [21]:
bmi = df['bmi']

In [23]:
bmi

0       27.900
1       33.770
2       33.000
3       22.705
4       28.880
         ...
1333    30.970
1334    31.920
1335    36.850
1336    25.800
1337    29.070
Name: bmi, Length: 1338, dtype: float64

In [48]:
mean = np.mean(bmi)
np.mean(bmi)

30.66339686098655

In [ ]:
bmi = sorted(bmi)
bmi

In [35]:
np.median(bmi)

30.4

In [37]:
st.mode(bmi)

32.3

In [41]:
st.variance(bmi)

37.18788360977324

In [45]:
st.stdev(bmi)

6.098186911679014

In [59]:
def stats(filepath: str, column_name: str):
    df = pd.read_csv(filepath)
    if column_name not in df.columns:
        raise ValueError(f"Column '{column_name}' does not exist in the DataFrame.")
    
    data = df[column_name]
    
    mean_value = np.mean(data)
    median_value = np.median(data)
    mode_value = st.mode(data)
    variance_value = st.variance(data)
    stdev_value = st.stdev(data)
    
    return {
        'mean': mean_value,
        'median': median_value,
        'mode': mode_value,
        'variance': variance_value,
        'standard_deviation': stdev_value
    }

In [73]:
filepath = 'C:/Users/Hp/Desktop/StudentsPerformance1.csv'
s_stats = stats(filepath, 'maths')
print(s_stats)

{'mean': 66.089, 'median': 66.0, 'mode': 65, 'variance': 229.918997997998, 'standard_deviation': 15.163080096009452}

In [ ]:
df2 = pd.read_csv('Downloads/dataset_.csv')